<div class="container wrapper wrapper2">
    <div class="row">
        <h2>Delete Product</h2>
        <!-- Form -->
        <div class="col-md-12" *ngIf="product">
            <form [formGroup]="productForm" (ngSubmit)="onDelete(product.id)" novalidate>
                
                <div class="form-group divflex">
                    <label class="element">Id: </label>
                    <input type="text" formControlName="id" class="form-control element" readonly [(ngModel)]="product.id" maxlength="5">
                </div>
    
                <div class="form-group divflex">
                    <label class="element">Name: </label>
                    <h6 class="element">{{ product.name }}</h6>
                </div>

                <div class="form-group divflex">
                    <label class="element">Price: </label>
                    <h6 class="element">{{ product.price | currency }}</h6>
                </div>

                <div class="form-group divflex">
                    <label class="element">Description : </label>
                    <p class="element">{{ product.description }}</p>
                </div>

                <button type="submit" class="btn btn-danger btn-sm element">Delete Product</button>
                <button type="button" class="btn btn-info element" [routerLink]="['/products']">Products List</button>

            </form>
        </div>
    </div>
</div>