<h2>Products List</h2>

<div *ngFor="let product of products">
    <h5 class="element">
        <a bind-title="product.name + ' details'" [routerLink]="['/product', product.id]">{{product.name}}</a>
    </h5>

    <p *ngIf="product.description"  class="element">
        Description: {{product.description}}
    </p>

    <button (click)="shareProduct()"  class="element">
        Share Product
    </button>

    <app-product-alerts bind-product="product" (notifyUser)="onNotifyUser()">
    </app-product-alerts>

</div>