<div class="container shadow py-2 main-container">
    <div class="row">
        <h1>The Servers</h1>

        <hr>

        <div class="container row">

            <div class="col-sm-3">
                <ul>
                    <li>
                        <a routerLink="/servers/servers" routerLinkActive='active' class="nav-link">Servers</a>
                    </li>
                    <li>
                        <a routerLink="/servers/server" routerLinkActive='active' class="nav-link">Server</a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-9 shadow child-container">

                <router-outlet></router-outlet>
            </div>
        </div>

        <!-- <sv-server></sv-server> -->
    </div>
</div>