<div class='card shadow'>

  <div class='card-header'>
    <h1>{{pageTitle}}</h1>
  </div>

  <div class='card-body'>

    <div class="container py-2" *ngIf="showSpinner">
      <h1 class="spinner">Loading ... Please wait.</h1>
      <span class="spinner">
        <i class="fa fa-spinner fa-spin fa-4x"></i>
      </span>
    </div>

    <div class='row py-3' *ngIf="hasProducts">
      <div class='col-md-2'>Filter by:</div>
      <div class='col-md-4'>
        <input type='text' [(ngModel)]='listFilter' />
      </div>
      <div class='col-md-6' *ngIf='listFilter'>
        <h6>Filtered by: {{listFilter}}</h6>
      </div>
    </div>

    <div class='table-responsive table-striped table-bordered table-hover shadow'>

      <table class='table px-0 py-0' *ngIf="hasProducts">
        <thead>
          <tr>
            <th>
              <button class='btn btn-primary shadow' (click)='toggleImage()'
                title="{{showImage ? 'Hide' : 'Show'}} Image">
                <i class="fa {{showImage ? 'fa-eye-slash' : 'fa-eye'}} fa-2x" aria-hidden="true"></i>
              </button>
            </th>
            <th>Product</th>
            <th>Code</th>
            <th>Available</th>
            <th>Price</th>
            <th>5 Star Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let product of products'>
            <td class="image-display-column-styles">
              <img *ngIf='showImage' class="rounded-circle" [src]='product.imageUrl' [title]='product.productName'
                [style.width.px]='imageWidth' [style.margin.px]='imageMargin' />
            </td>
            <td>
              {{product.productName}}
            </td>
            <td>{{product.productCode | lowercase}}</td>
            <td>{{product.releaseDate | date}}</td>
            <td class="currency-column-styles">{{product.price | currency: 'INR' : 'symbol' : '1.2-2'}}</td>
            <td>
              {{product.starRating}}
            </td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>

</div>

<div *ngIf='errorMessage' class='alert alert-danger'>
  Error: {{ errorMessage }}
</div>