<div class="container shadow py-2 main-container">
    <div class="row">
        <h1>Ng 12 Demos</h1>

        <hr>

        <div class="container row">

            <div class="col-sm-3">
                <ul>
                    <li>
                        <a routerLink="/demos/selector-demo" routerLinkActive='active' class="nav-link">Selector Demo</a>
                    </li>
                    <li>
                        <a routerLink="/demos/oneway-databinding" routerLinkActive='active' class="nav-link">Oneway Databinding</a>
                    </li>
                    <li>
                        <a routerLink="/demos/twoway-databinding" routerLinkActive='active' class="nav-link">Twoway Databinding</a>
                    </li>
                    <li>
                        <a routerLink="/demos/for-in-and-off" routerLinkActive='active' class="nav-link">for in and off</a>
                    </li>
                    
                </ul>
            </div>

            <div class="col-sm-9 shadow child-container">

                <router-outlet></router-outlet>
            </div>
        </div>

    </div>
</div>