<div class='card shadow'>

    <div class='card-header d-flex justify-content-between'>
        <h1>{{pageTitle}}</h1>
    </div>

    <div class="container">
        <div class='card-body px-2'>
            <p>Some text about who we are and what we do. Resize the browser window to see that this page is responsive
                by
                the way.</p>

            <div>
                <h1>Address</h1>
                <p>
                    Flat Number: 123
                </p>
                <p>
                    Some Street
                </p>
                <p>
                    Some City
                </p>
                <p>
                    Phone: +91 - 1234567890
                </p>
                <p>
                    some@email.com
                </p>
            </div>
        </div>
    </div>

</div>