<div class='card shadow'>

    <div class='card-header d-flex justify-content-between'>
        <h1>{{pageTitle}}</h1>
    </div>

    <div class='card-body px-2'>

        <span>Some text about who we are and what we do. Resize the browser window to see that this page is responsive
            by
            the way.</span>

        <h1 style="text-align:center">Our Team</h1>

        <div class="row mx-1 justify-content-between">
            <div class="column col-sm-4 rounded our-team-card-styles">
                <div class="card">
                    <img src="/assets/images/employees/Employee1.png" alt="Jane">
                    <div class="container">
                        <h2>Jane Doe</h2>
                        <p class="title">CEO & Founder</p>
                        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                        <p>jane@example.com</p>
                        <p><button class="button">Contact</button></p>
                    </div>
                </div>
            </div>
            <div class="column col-sm-4 rounded our-team-card-styles">
                <div class="card">
                    <img src="/assets/images/employees/Employee2.png" alt="Jane">
                    <div class="container">
                        <h2>Mithnu Nair</h2>
                        <p class="title">Director</p>
                        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                        <p>mike@example.com</p>
                        <p><button class="button">Contact</button></p>
                    </div>
                </div>
            </div>
            <div class="column col-sm-4 rounded our-team-card-styles">
                <div class="card">
                    <img src="/assets/images/employees/Employee3.png" alt="Jane">
                    <div class="container">
                        <h2>Mike Ross</h2>
                        <p class="title">Senior Architect</p>
                        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                        <p>john@example.com</p>
                        <p><button class="button">Contact</button></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>